extends layout

block content

  h1= title
  p A small, family-owned donut and coffee shop that’s been serving the downtown community since 1992.
  p After reciving an award for Best Donut Shop on this side of the equator, we've been working tirelessly to bring perfect dounts to the downtown community.
  p Our donuts are handcrafted and blessed by the local religious leaders to ensure each donut blesses your day.
  p Our donuts are made using only the finest of ingredients, sourced from local homested farmers and suppliers. We believe that the best donuts are made with raw milk and sweat of a heartbroken newt.
  p We are proud to be a part of the downtown community and strive to show our gratitude to the amazing people of our community.
  
//- TODO TYPOS
//- TODO add padding to left side