extends layout

block content
  h1= title
  if error
    p.error= error
  else if items && items.length
    p Database content loaded for this page:
    ul
      each item in items
        li= item.task
  else
    p No commenmts are available yet.
