extends layout

block content
  h1= title
  p Welcome to Downtown Donuts. Browse the menu or visit the commenmts page for database-backed content.
  nav.home-links
    ul
      li: a(href='/menu') View Menu
      li: a(href='/about') Our Story
      li: a(href='/commenmts') Commenmts
