extends layout

block content
  .home-hero
    .home-hero__featured
      img.home-hero__featured-image(src='/images/donutShop.jpg' alt='Donut display case with a variety of donuts')
      .home-hero__overlay
        h1.home-hero__title Fresh donuts, made daily
        p.home-hero__text Stop in for handcrafted favorites and a warm cup of coffee.

    .home-hero__cards
      a.home-hero__card(href='/menu')
        img.home-hero__image(src='/images/donut.jpg' alt='An assortment of donuts on a tray with sprinkles and glaze')
        .home-hero__card-content
          h2 Menu
          p.home-hero__card-description See our signature donuts and drinks.

      a.home-hero__card(href='/about')
        img.home-hero__image(src='/images/donutPerson2.png' alt='A person holding a donut representing the story of the bakery')
        .home-hero__card-content
          h2 Our Story
          p.home-hero__card-description Learn about our family-owned bakery.

      a.home-hero__card(href='/comments')
        img.home-hero__image(src='/images/comments.png' alt='A comment symbol with the word comment')
        .home-hero__card-content
          h2 Comments
          p.home-hero__card-description Read what guests are saying.
