doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.site-header
      nav.nav(aria-label="Main Navigation")
        .nav_brand
          img.nav_logo(src="/images/YellowLogo.png" alt="Downtown Donuts Logo")
          a.nav_title(href="/") Downtown Donuts

        .nav_actions
          ul.nav_links
            li: a(href="/") Home
            li: a(href="/menu") Menu
            li: a(href="/about") Our Story
            li: a(href="/comments") Comments
            li.nav__order-dropdown
              button.nav__order-btn(type="button" aria-expanded="false" aria-haspopup="true")
                span Order Now
                span.nav__order-caret(aria-hidden="true") ▾
              .nav__order-menu(role="menu")
                p.nav__order-menu-title Order online for pickup or delivery
                a.order_link(href="https://www.ubereats.com/" target="_blank" rel="noopener noreferrer") UberEats
                a.order_link(href="https://www.doordash.com/" target="_blank" rel="noopener noreferrer") DoorDash
                a.order_link(href="https://www.grubhub.com/" target="_blank" rel="noopener noreferrer") Grubhub
          button.nav_toggle(aria-label="Toggle navigation menu" aria-expanded="false")
            span
            span
            span

    main
      block content
      footer.site-footer
        .footer__inner
          .footer__brand
            p Family-owned since 1992
            p.footer__brand-tag Downtown Donuts | 123 Main Street, Downtown | (555) 867-5309 | www.downtowndonuts.com

          .footer__links
            h3 Order Online
            ul
              li: a(href="https://www.ubereats.com/" target="blank") UberEats
              li: a(href="https://www.doordash.com/" target="blank") DoorDash
              li: a(href="https://www.grubhub.com/" target="blank") Grubhub

          .footer__hours
            h3 Open Daily
            p Mon-Fri 6AM-6PM
            p Sat-Sun 7AM-4PM

          .footer__links
            h3 Visit Us
            ul
              li 123 Main Street, Downtown
              li Downtown Donuts

        p.footer__copy © 2026 Downtown Donuts. All rights reserved.

    //- Load client-side JavaScript 
    script(src="/javascripts/main.js")