extends layout

block content
  h1.menu_header DOWNTOWN DONUTS
  p.menu_header_description Family-Owned since 1992

  div.bottom_border

  h2.menu_subheader SIGNATURE DONUTS
  p.menu_header_description Handcrafted fresh every morning

  ul.donut_menu
    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Classic Glazed
        p.menu_item_description Our legendary original – light, fluffy, and perfectly glazed
      span.menu_item_price $2.50

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Maple Bacon Bar
        p.menu_item_description Rich maple glaze topped with crispy applewood bacon
      span.menu_item_price $3.75

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Boston Cream
        p.menu_item_description Bavarian cream filling, dark chocolate ganache topping
      span.menu_item_price $3.50

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Blueberry Cake
        p.menu_item_description Dense cake donut bursting with fresh blueberries
      span.menu_item_price $3.25

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Cinnamon Sugar Twist
        p.menu_item_description Hand-twisted and tossed in cinnamon sugar
      span.menu_item_price $2.75

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Strawberry Frosted
        p.menu_item_description Vanilla donut with strawberry glaze and rainbow sprinkles
      span.menu_item_price $3.00

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Chocolate Old Fashioned
        p.menu_item_description Sour cream donut with rich chocolate glaze
      span.menu_item_price $3.25

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Lemon Poppy Seed
        p.menu_item_description Bright lemon glaze with poppy seed crunch
      span.menu_item_price $3.50

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Dulce de Leche
        p.menu_item_description Caramel cream filled, drizzled with dulce de leche
      span.menu_item_price $3.75

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name PB & J
        p.menu_item_description Peanut butter glaze with raspberry jam filling
      span.menu_item_price $3.75

  .feature-row
    .feature-left
      h3.feature-title DONUT HOLES
      p.feature-sub Mix and match flavors!
    .feature-center
      p.feature-mid Glazed, Chocolate, or Cinnamon Sugar
    .feature-right
      span.price Half Dozen $4.50 | Dozen $7.99

  .pagebreak

  h1.menu_header DRINKS & MORE

  div.bottom_border

  h2.menu_subheader COFFEE
  p.menu_header_description Locally roasted beans • Always fresh

  ul.drinks_menu
    li.drinks_item
      .drinks_item_text
        h3.drinks_item_name Drip Coffee
        p.drinks_item_description House blend or single origin
      .drinks_item_price
        .price_labels
          span SM
          span MD
          span LG
        .price_values
          span $2.25
          span $2.75
          span $3.25

    li.drinks_item
      .drinks_item_text
        h3.drinks_item_name Cold Brew
        p.drinks_item_description Slow-steeped 18 hours, smooth and bold
        .price_labels
          span SM
          span MD
          span LG
        .price_values
          span $3.50
          span $4.00
          span $4.50

    li.drinks_item
      .drinks_item_text
        h3.drinks_item_name Espresso
        p.drinks_item_description Double shot pulled to order
        .price_labels
          span SM
          span MD
          span LG
        .price_values
          span $3.00
          span –
          span –

    li.drinks_item
      .drinks_item_text
        h3.drinks_item_name Americano
        p.drinks_item_description Espresso and hot water, classic and clean
        .price_labels
          span SM
          span MD
          span LG
        .price_values
          span $3.25
          span $3.75
          span $4.25

    li.drinks_item
      .drinks_item_text
        h3.drinks_item_name Latte
        p.drinks_item_description Espresso with steamed milk, choice of milk
        .price_labels
          span SM
          span MD
          span LG
        .price_values
          span $4.25
          span $4.75
          span $5.25

    li.drinks_item
      .drinks_item_text
        h3.drinks_item_name Cappuccino
        p.drinks_item_description Equal parts espresso, steamed milk, foam
        .price_labels
          span SM
          span MD
          span LG
        .price_values
          span $4.25
          span $4.75
          span $5.25

    li.drinks_item
      .drinks_item_text
        h3.drinks_item_name Mocha
        p.drinks_item_description Espresso, chocolate, steamed milk, whipped cream
        .price_labels
          span SM
          span MD
          span LG
        .price_values
          span $4.75
          span $5.25
          span $5.75

    li.drinks_item
      .drinks_item_text
        h3.drinks_item_name Vanilla Chai Latte
        p.drinks_item_description Spiced chai with vanilla and steamed milk
        .price_labels
          span SM
          span MD
          span LG
        .price_values
          span $4.50
          span $5.00
          span $5.50


  .feature-row.feature-extended
    .feature-left
      h3.feature-title Add-ONS
      p.feature-sub.extended Extra shot +$0.75 | Flavored syrup +$0.50 | Oat / Almond / Soy milk +$0.60 | Whipped cream +$0.50 | Cold foam +$0.75

  h2.menu_subheader OTHER DRINKS

  ul.donut_menu
    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Fresh Squeezed OJ
      span.menu_item_price $3.50

  //- img.menu(src="/images/downtown_donuts_menu_1.png", alt="Downtown Donuts menu page 1")
  //- img.menu(src="/images/downtown_donuts_menu_2.png", alt="Downtown Donuts menu page 2")
