extends layout

block content
  h1= title
  p Our donut menu will be available soon.
  ul
    li Classic Glazed Donut
    li Chocolate Frosted Donut
    li Cinnamon Sugar Donut
    li Blueberry Cake Donut
