extends layout

block content
  h1.menu_header DOWNTOWN DONUTS
  p.menu_header_description Family-Owned since 1992
  div.bottom_border
  h2.menu_subheader SIGNATURE DONUTS
  p.menu_header_description Handcrafted fresh every morning 

  //- img.menu(src="/images/downtown_donuts_menu_1.png", alt="Downtown Donuts menu page 1")
  //- img.menu(src="/images/downtown_donuts_menu_2.png", alt="Downtown Donuts menu page 2")
