extends layout

block content
  h1= title
  p Our donut menu will be available soon.
  img.menu(src="/images/downtown_donuts_menu_1.png", alt="Downtown Donuts menu page 1")
  img.menu(src="/images/downtown_donuts_menu_2.png", alt="Downtown Donuts menu page 2")
