extends layout

block content
  h1.menu_header DOWNTOWN DONUTS
  p.menu_header_description Family-Owned since 1992

  div.bottom_border

  h2.menu_subheader SIGNATURE DONUTS
  p.menu_header_description Handcrafted fresh every morning

  ul.donut_menu
    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Classic Glazed
        p.menu_item_description Our legendary original – light, fluffy, and perfectly glazed
      span.menu_item_price $2.50

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Maple Bacon Bar
        p.menu_item_description Rich maple glaze topped with crispy applewood bacon
      span.menu_item_price $3.75

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Boston Cream
        p.menu_item_description Bavarian cream filling, dark chocolate ganache topping
      span.menu_item_price $3.50

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Blueberry Cake
        p.menu_item_description Dense cake donut bursting with fresh blueberries
      span.menu_item_price $3.25

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Cinnamon Sugar Twist
        p.menu_item_description Hand-twisted and tossed in cinnamon sugar
      span.menu_item_price $2.75

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Strawberry Frosted
        p.menu_item_description Vanilla donut with strawberry glaze and rainbow sprinkles
      span.menu_item_price $3.00

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Chocolate Old Fashioned
        p.menu_item_description Sour cream donut with rich chocolate glaze
      span.menu_item_price $3.25

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Lemon Poppy Seed
        p.menu_item_description Bright lemon glaze with poppy seed crunch
      span.menu_item_price $3.50

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name Dulce de Leche
        p.menu_item_description Caramel cream filled, drizzled with dulce de leche
      span.menu_item_price $3.75

    li.donut_menu_item
      .donut_item_text
        h3.menu_item_name PB & J
        p.menu_item_description Peanut butter glaze with raspberry jam filling
      span.menu_item_price $3.75




  //- img.menu(src="/images/downtown_donuts_menu_1.png", alt="Downtown Donuts menu page 1")
  //- img.menu(src="/images/downtown_donuts_menu_2.png", alt="Downtown Donuts menu page 2")
