body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

.landing-header {
  background-color: #10291D;
  font-size: 24px;
  font: "Italianno Regular";
  color: #F7F7F7;
}

a {
  color: #00B7FF;
}
